<%- include ("../partials/header") -%>

<div class="container show-page">
    
    <div class="text-center mb-3"> <img  src="<%= movie.image%>" id="show-image"></div>
    <div class="show-body">
            <p class="show-release">Released on: <em><%= movie.Date.toDateString()%></em></p>
            <span class="show-rating">ratings</span>
        
        <div class="clearfix"></div>
        <div>
            <h3 class="show-movie-title"><%= movie.title %></h3>
            <p class="text-justify"><%= movie.body %></p>
            <p class="cast mb-0">Cast: <%=movie.cast%></p>
            <p class="cast">Director: <%=movie.director%></p>
            <p>
                posted by: <a><em><%= movie.author.username %></em></a>
            </p>
        </div>
        <div>
            <%if(currentUser && movie.author.id.equals(currentUser._id) || currentUser.isAdmin){%>
            <div class="edit-delete">
                <a href="/movies/<%=movie._id%>/edit" class="card-link btn btn-secondary mr-3">Edit</a>
                <form action="/movies/<%=movie._id%>?_method=DELETE" method="post" id="delete">
                    <button class="btn btn-outline-danger" >Delete</button>
                </form>
            </div>
            <%}%>
        </div>
        <div class="clearfix"></div>
        <hr>

            <h4 class="comment-heading">Comments</h4>
            <% movie.comments.forEach(function(comment){%>
                <div class="comment">
                <div>
                <h5 class="comment-author"><strong><%= comment.author.username %></strong></h5>
                <span class="comment-date"><%= movie.Date.toLocaleDateString()%></span></div>
                <div class="clearfix"></div>
                  <p><%= comment.text %></p>
                  <%if(currentUser && comment.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){%>
                  <a class="btn btn-xs btn-secondary" href="/movies/<%=movie._id%>/comments/<%=comment._id%>/edit">Edit</a>
                  <form class="delete-form" action="/movies/<%=movie._id%>/comments/<%=comment._id%>?_method=DELETE" method="post" >
                    <button class="btn btn-xs btn-outline-danger" >Delete</button>
                </form>
                <%}%>
                </div>
                
            <%})%>
        <form action="/movies/<%=movie._id%>/comments" method="POST">
            <div class="form-group comment-box">
                <textarea type="text" placeholder="comment" name="comment[text]" required class="form-control" rows="3"></textarea>
              </div>
              <div class="comment-button"><input type="submit" class="btn btn-outline-dark " value="Add comment"></div>
              
            </form>
            
        <!-- <a href="/movies/<%=movie._id%>/comments/new" class="card-link btn btn-primary comment-button">Add new comment</a>
         -->
    </div>
</div>
<%- include ("../partials/footer") -%>